<div class="forecast-container">
	<div class="todo-list-container">
		<div class="todo-list-header">
			<h2>TODO List</h2>
			<input type="text" placeholder="Title...">
			<span id="addBtn">Add</span>
		</div>
		<ul class="todo-list">
			<% for(const todo of todos) { %>
			<li class="todo-item <% if (todo.checked) { %> checked <% } %>" data-id="<%= todo._id %>">
				<%= todo.title %>
				<span class="close">×</span>
			</li>
			<% } %>
		</ul>
	</div>
</div>

<script src="/scripts/libs/Ajax.js"></script>
<script src="/scripts/Todo.js"></script>
