<div class="forecast-container">
	<div class = "todo-list-container">
	   <div class="todo-list-header">
		 <h2>TODO List</h2>
		 <input type="text" placeholder="Title...">
		 <span class="addBtn">Add</span>
	   </div>
	   <ul class = "todo-list">
		 <li>Hit the gym</li>
		 <li class="checked">Pay bills</li>
		 <li>Meet George</li>
		 <li>Buy eggs</li>
		 <li>Read a book</li>
		 <li>Organize office</li>
		 <li>Meet George</li>
		 <li>Buy eggs</li>
		 <li>Read a book</li>
		 <li>Organize office</li>
	   </ul>
	</div>
 </div>
