<div class="today forecast" style="width:70%">
	<div class="forecast-header">
		<span>News</span>
	</div>
	<div class="forecast-content">
		<ol class = "news-container">
			<% for(const news of newsData) { %>
				<li>
					<a target="_blank" href="<%= news.link %> "><%= news.title[0] %> </a>
				</li>
			<% } %>
		</ol>
	</div>
</div>
