<div class="today forecast" style="width:30%">
	<div class="forecast-header">
	   <div id = "current-date"></div>
	</div>
	<div class="forecast-content">
	   <div class="location"></div>
	   <div class="degree">
		  <div class="num"></div>
		  <div class="forecast-icon">
			 <img src="" alt="" width=90 id="weather-icon">
		  </div>
	   </div>
	</div>

	<link rel="stylesheet" href="/styles/weather.css">
	<script src="/scripts/Location.js" charset="utf-8"></script>
	<script src="/scripts/Weather.js" charset="utf-8"></script>
 </div>
